html {
    /*
    Hack: Always display vertical scrollbar in webkit to avoid the horrid
    flickering due to size and responsive resize.
    More info here:
      http://dmrutherford.github.io/echo/scrollbars-and-page-width/
    */
    overflow-y: scroll;
}

.graphcontainer {
    position: relative;
    margin: 0px auto;
    width: 97%;
}
#container {
    position: relative;
}
.header {
    position: absolute;
    margin: 5px 5px 0px;
    font-size: larger;
    top: 0px;
    left: 0px;
    right: 0px;

}
#countrybox {
    float: right;
}
.footer {
    /* flexbox setup */
    display: flex;
    flex-direction: row;

    font-family: monospace;
    /*height: 40px;*/
    overflow: hidden;
    font-size: large;
    text-align: center;
}

.footer .about {
    flex: 0 auto;
}

.footer .directlink {
    flex: 0 auto;
}

.footer .statistics {
    flex: 1 auto;
}

.footer .fb-like {
    flex: 0 auto;
}

select {
    max-width: 165px;
    font-family: sans-serif;
    font-size: larger;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
